body {
  font-family: optima,"Lato", sans-serif;
  background-image: url('./gp/bg/MT_bg.jpg');
}

hr {
  border: 1px solid red;
  border-radius: 10%;
}

h2.new {
  font: 100px/1 Optima,Palatino,times new roman;
  color: black;
  text-shadow: 10px 4px 10px rgba(0,0,0,0.2);
  text-align:center;
  margin: 0px;
}

h2.new2 {
  font: 40px/1 Optima,Palatino,times new roman;
  color: black;
  text-shadow: 10px 4px 10px rgba(0,0,0,0.2);
  text-align:center;
  margin: 0px;
}

h4.new {
  margin: 0px;
  padding-left: 0%;
  text-align: center;
  border-bottom: 1px solid black;
}

h4.new2{
  margin: 0px;
  padding-left: 10%;
}

.data_table {
  overflow: hidden;
  text-align: center;
  padding: 0px;
}
.data_table dt, .data_table dd {
  margin-bottom: 10px;
  margin-right: 2%;
  margin-left: 2%;

}
.data_table dt {
  padding-right: 0px;
}
.data_table dd:after {
  content: '';
  display: block;
}

.row{clear:both}

.column{
    float: left;
}

dd {
  font-size: 20px;
  text-align: left;
}

.column_mini ul {
  padding-left: 30px;
}

li{
  margin-bottom: 10px;
  text-align: left;
}

/* Fixed sidenav, full height */
.sidenav {
  float: left;
  border-right: 0.2vw solid rgba(7, 0, 196, 0.346);
  border-image: 
    linear-gradient(
      to bottom, 
      #262626, 
      rgb(124, 199, 213)
    ) 1 100%;
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0,0,255,0.3);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#487480), color-stop(50%,#487480d5), color-stop(80%,#4483959c), color-stop(100%,#408da262));
  overflow-x: hidden;
  padding-top: 0%;
  background: -webkit-repeating-radial-gradient();
  }
  
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 10% 0px 10% 0px;
  text-decoration: none;
  font-size: auto;
  color: #c2fffb;
  color:rgb(249, 230, 208);
  display: block;
  border: none;
  background:none;
  width: 100%;
  text-align: center;
  /* margin-top: 20%; */
  cursor: pointer;
  outline: none;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  left: 0;
  top: 0;
  bottom: 0;
}

.sidenav a.home {
  padding-bottom: 30%;
  font-size:xx-large;
}



/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: rgba(139, 0, 0, 0.819);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(50%,#262626dd), color-stop(80%,#262626b8), color-stop(100%,#26262693));
}

.dropdown-container a{
  color: rgb(198, 198, 198);
}

.dropdown-container a:hover{
  color: rgb(255, 255, 255);
}

.topnav {
  z-index: 3;
  overflow: hidden;
  position: fixed;
  width: 80%;
  height: auto;
  margin-left: 20.1%;
  top:0px;
  left:0px;
  background-color: #333;
  background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#262626), color-stop(50%,#262626dd), color-stop(80%,#262626b8),color-stop(95%,#262626), color-stop(98%,#262626),color-stop(100%,#262626d6));
}
  
.topnav a {
  float: right;
  color: #f2f2f2;
  color: rgb(249, 230, 208);
  text-align: center;
  padding: 1% 3%;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#824557), color-stop(1%,#914d61), color-stop(100%,#ffa4c0));
  color: black;
}

.topnav a.active {
  background-color: #04aa6da5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#1a3221), color-stop(1%,#2d5544), color-stop(100%,#5f945e));
  color: white;
}

/* Main content */
.main {
  float: right;
  font-size: 25px; /* Increased text to enable scrolling */
  text-align:center;
  width: 80%;
  height: 94%;
  margin-top: 6%;
}

.pdf{
  /* float: right; */
  /* font-size: 25px;  */
  /* text-align:center; */
  height: 100vh;
  margin-top: 3.46%;
  margin-left: 19.7%;
  width: 82%;

}

.pdf2{
  height: 100vh;
  margin-top: 3.45%;
  margin-left: 19.7%;
  width: 82%;

}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#1a3221), color-stop(1%,#2d5544), color-stop(100%,#5f945e));
  color: white;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.ml5 {
  z-index: 1;
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
  left: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 1;
}

.ml12 {
  z-index: 1;
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  left: 0;
  top: 0;
  bottom: 0;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

/* Some media queries for responsiveness 
dont forget to change max height also in javascript*/
@media screen and (max-height: 800px){

  .sidenav a , .dropdown-btn{
    font-size: 30%;
    font-weight:700;
  }
  .sidenav a.home {
    padding-bottom: 30%;
    font-size:70%;
    font-weight:600;
  }
  .ml12 {
      font-size: 0.9em;
      letter-spacing: 0.1em;
      font-weight: 700;
    }
  h2.new{font-size: 40px;}
  h2.new2{font-size: 15px;}
  .main{font-size: 10px;}
  .topnav a {font-size: 12px;}
  dd {font-size: 8px;}
  li{font-size: 8px;}
  .column_mini ul {
    padding-left: 15px;
  }
}